[submodule "cminpack_numba"]
	path = cminpack_numba
	url = git@github.com:Nin17/cminpack_numba.git
[submodule "dxraylib"]
	path = dxraylib
	url = git@github.com:Nin17/dxraylib.git
[submodule "xraylib_numba"]
	path = xraylib_numba
	url = git@github.com:Nin17/xraylib_numba.git
[submodule "nnls_numba"]
	path = nnls_numba
	url = git@github.com:Nin17/nnls_numba.git
[submodule "pypwt"]
	path = pypwt
	url = git@github.com:Nin17/pypwt.git
